@import url("https://fonts.googleapis.com/css2? family=poppins:wght@300;400;500;600;700;800;900;& display=swap");
*{
    font-family: 'AR One Sans', sans-serif; 
}
.body{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans_serif;
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url("3.jpg") no-repeat;
    background-size:cover;
    background-position: center;
}
.wrapper{
    width:450px;
    height:400px;
    background: transparent;
    border:2px solid #faf3dd;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:#fff;
    border-radius:10px;
    padding:30px,40px;
}
.wrapper h1{
    font-size:36px;
    text-align:center;
    color: #f0c3cb;
}
.wrapper.input-box{
    position:relative;
    width:90%;
    height:25px;
    margin:30px 0;
    padding:100px;  
}
.input-box input{
    width:60%;
    height:5px;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid #faf3dd;
    border-radius:40px; 
    font-size:16px;
    color:#fff;
    padding:20px 45px 20px 20px;
    position: relative;
    left: 55px;
}
.input-box input::placeholder{
    color:#fff;
}
.input-box i {
    position:absolute;
    right:70px;
    top:28%;
    transform:translateY(-50%);
    font-size:20px;
    
}
.wrapper.remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin:-15px 0 15px;
}
.remember-forgot lable input{
    accent-color:#fff;
    margin-right:3px;
    position: relative;
    left: 55px;
}
.remember-forgot a{
    color:#fff;
    text-decoration:none;
    position: relative;
    left: 85px;
}
.remember-forgot a:hover{
    text-decoration:underline;
}
.wrapper button{
    position:relative;
    right:-37%;
    width:25%;
    height:45px;
    background:#d88c9a;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color: #333;
    font-weight:600;

}
.wrapper.register-link{
    font-size:14.5px;
    text-align:center;
    margin:20px,0,15px;
}
.registe-link p a{
    text-align: center;
    color:#fff;
    text-decoration:none;
    font-weight:600;
}
.register-link p a:hover{
    text-decoration:underline;
}
