*{
    font-family: 'AR One Sans', sans-serif;
}

.navbar{
    background-color: #f5eed9;
    box-shadow: 10px 10px 5px rgba(230, 212, 173, 0.541);
}

.nav-link{
    margin: 15px 15px;
    margin-top: 48px;
    font-size: 23px;
    display: inline-block;
    position: relative;
}

.nav-link::after{
content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8FC0B4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link img{
    
    max-width: 60px;
    max-height: 40px;
}

#heading{
    position: relative;
    top: 150px;
    left: 210px;
}

#sub{
    position: relative;
    top: 170px;
    left: 190px;
    color: rgba(0,0,0,0.5);
}

#models{
    height:580px;
    width: auto;
    background-image: url(bg.jpg);
    background-repeat: none;
}

#models button{
    position: relative;
    top: 180px;
    left: 230px;
    background-color: #fddbdb;
    border: black;
    border-style: solid;
    border-radius: 15px;
}

#models button:hover{
    background-color: #d88c9a;
}

#models a{
    opacity: 1;
    text-decoration: none;
    color: #1E2019;
    font-size: 40px;
}

#deals{
    width: auto;
    height: 550px;
    background-color: #f8f6ec;
}

#deals h1{
    position: relative;
    top: 40px;
    left: 480px;
}

#deals h1 span{
    color: #dd8c9a;
}

.card1{
    position: relative;
    left: 150px;
    top: 100px;
    height: 390px;
    width: 280px;
    background-color: #8fc0b4;
    border-radius: 15%;
}

.card1:hover, .card2:hover, .card3:hover{
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.card2{
    position: absolute;
    left: 490px;
    top: 840px;
    height: 390px;
    width: 280px;
    background-color: #f7d1d7;
    border-radius: 15%;
}

.card3{
    position: absolute;
    left: 820px;
    top: 880px;
    height: 390px;
    width: 280px;
    background-color: #8fc0b4;
    border-radius: 15%;
}

.card1 img, .card2 img, .card3 img{
    position: relative;
    top:15px;
    left: 15px;
    border-radius: 10%;
}

.card1 #price, .card2 #price, .card3 #price{
    position: relative;
    top:30px;
    left: 50px;
    font-size: 25px;
}

.card1 #des, .card2 #des, .card3 #des{
    position: relative;
    top: 35px;
    left: 65px;
}

#deals #divide img{
    width: 1200px;
    left: 0px;
    margin: 0;
}

#recommend{
    height: 800px;
    width: auto;
    background-color:  #f8f6ec;
}

#recommend h1{
    position: relative;
    top: 200px;
    left: 220px;
}

#recommend h1 span{
    color: #8FC0B4;
}

#recommend #cat, #cat1, #cat2{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: #1E2019;
}


#recommend #cat{
    position: relative;
    top: 250px;
    left: 250px;
}

#recommend #cat1{
    position: relative;
    top: 50px;
    left: 565px;
}

#recommend #cat2{
    position: absolute;
    top: 1584px;
    left: 880px;
}

#recommend #ring1{
    position: relative;
    top: 270px;
    left: 290px;
}

#recommend #neckl{
    position: relative;
    left: 595px;
    top: 73px;
}

#recommend #brac1{
    position: relative;
    left: 920px;
}

#recommend #divide1 img{
    position: relative;
    width: 1200px;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0;
}

#editor{
    background-color: #f8f6ec;
    width: auto;
    height: 700px;
}

#editbox{
    padding: 0px;
    position: relative;
    top: 140px;
    left: 85px;
    justify-self: center;
    height: 500px;
    width: 1000px;
    border: #1e201946;
    border-style: solid;
    box-shadow: 20px 20px #1e20198c;
}

#editor h7{
    position: relative;
    top: 80px;
    left: 60px;
    color: #1e201981;
}

#editor h7 span{
    color: #d88c9a;
}

#editor p{
    position: relative;
    top: 90px;
    left: 100px;
    font-size: 25px;
}

#editor p span{
    color: #8FC0B4;
}

#faq{
    height: 700px;
    width: auto;
    background-color: #f8f6ec;
}

#faq h1{
    position: relative;
    top: 50px;
    left: 565px;
}

.question-container{
    position: relative;
    top: 150px;
    left:200px;
}

#question button, #question1 button, #question2 button{
    background-color: #9ac7bc;
}

#question p, #question2 p{
    color: transparent;
}

#answer, #answer1, #answer2{
    padding: 25px;
    margin: 20px;
}

#foot{
    height: 200px;
    width: auto;
    background-color: #1E2019;
}

#foot a{
    position: relative;
    top: 25px;
    left: 220px;
    text-decoration: underline;
    color: #f5eed9;
    padding: 0px;
    margin: 0px;
}

#foot p{
    padding: 5px;
    margin: 0;
}

#foot div{
    position: relative;
    left: 600px;
    bottom: 90px;
}

#foot #h{
    font-size: 20px;
    position: relative;
    bottom: 70px;
    left: 870px;
    color: #f5eed9;
}